<h3>Active Calls (<%=@call_count%>)</h3>

<% @call_list.each do |call| %>

	<script type="text/javascript">
 
 	$(function() {
  		$( "#C<%=call.sid%>" ).draggable({ revert: true, helper: clone });
  		$('#makeMeDroppable').droppable( {
    		drop: handleDropEvent
  		});
	}
 
	function handleDropEvent( event, ui ) {
  		var draggable = ui.draggable;
  		alert( 'The call with SID "' + draggable.attr('id') + '" was dropped onto me!' );
	}
 
	</script>
	
	<div id="C<%=call.sid%>" class="ui-widget-content">
		<div class="btn primary_phone" style="width: 150px">
			<p><%= get_caller_name(call) %></p>
			<p>From:<%= call.from %></p>
			<p>To:<%= call.to %></p>
		</div>
	</div>

<% end %>
