<div class="row">
	<div class="span10">
		<div class="conference_list_items">
			<h3>Conferences: </h3>
				<table style="width: 520px;">
				<tr>
					<td>Name</td>
					<td>Pin</td>
					<td></td>
					<td>Select</td>
				</tr>
				<% @conferences.each do |conf| %>
					<% conf_css_safe = conf.confname.gsub(' ','-') %>
					<tr id="droponto_<%= conf_css_safe %>">
						<td><%= conf.confname %></td>
						<td><%= get_conf_pin(conf.confname) %></td>
						<td>Invite contacts through <a href="#">Phone</a> or <a href="#">Text</a></td>
						<td><img id="<%= conf_css_safe %>" class="select-conf" src="/bluearrow.png" style="padding-left: 20px;" ></td>
					</tr><!--end  #dropinto_<%= conf_css_safe %> -->
				<% end %>
				</table>
		</div> <!--  end .conference_list_items-->	
	</div><!-- end span10 -->
		
		<div class="span7">
			<h3>Participants <span id="part-list-name"></span> (<span id="part-list-count">0</span>)</h3>
			<!-- Insert the participant list here-->
			<div class="participant_list_items">
			</div> <!--  end .participant_list_items-->	
			<input type="hidden" name="part-sid-str" value="" id="part-sid-str" />
		</div><!-- end span7-->
</div><!-- end row-->

<script>
//Script that updates the participant list every few seconds
$(document).ready(function() {
	//resets the sid list value when a user refreshes the browser
	$("#part-sid-str").attr("value","");
	//updates the call list every few seconds
	setInterval(function(){
			var confname = $("img[src$='/greenarrow.png']").attr("id");
			var partsidstr = $("#part-sid-str").attr("value");
			var urlforpartlist = '/dashboard/update_participant_list_from_db?sidstr=' + partsidstr +'&conf_name=' + confname;
			$.ajax({
				url: urlforpartlist,
				type: 'get',
				dateType: 'html',
				success: function(data) {
					$(".participant_list_items").append(data);
				} //end success
			});//end ajax
	}, 5000); //end setInterval
}); //end doc.ready

//onclick change image selector for the conferences
$(document).ready(function() {
    $(".select-conf").click(function(event) {
        id_of_clicked = '#' + event.target.id;
        $(".select-conf").attr("src","/bluearrow.png");
        $(id_of_clicked).attr("src","/greenarrow.png");
        $("body").toggleClass("wait",true);
    });
});
</script>

<script>
	//dropabble script for the conference table
	$(function() {
		//Allows the calls to be droppable into Conferences
		$( "[id^=droponto_]" ).droppable({
				hoverClass: "hover-over-conferences",
    			drop: handleDropEventIntoConferenceList,
    			accept: function(d) { 
        			//regex test to see if id of call starts with C,Q, or P, as in from (C)all list, (Q)ueue list, or (P)articipant list	
        			var testid = d.attr("id");
            		if( testid.match(/^(C|P|Q)\w/) ){
            		return true;
        			}
    			}
  		});
	});

	function handleDropEventIntoConferenceList( event, ui ) {
  		var draggable = ui.draggable;
  		//strips off the first character
  		var sid = draggable.attr('id').substring(1);
  		//pulls "droponto_conf-name-here"
  		var conf_name = $(this).attr("id");
  		//changes to "conf-name-here"
  		var confname = conf_name.split("_")[1];
  		
  		//alert('sid dropped = ' + sid + '\r\n conference id = ' + confname)
  		var url = '<%=BASE_URL%>' + '/dashboard/drop_sid_into_conf/?sid=' + sid + '&conf_name=' + confname;
  		//alert(url);
  		$.post(url);
	}
</script>