<div class="row">
	<div class="span10">
		<div class="conference_list_items">
			<h3>Conferences: </h3>
				<table style="width: 520px;">
				<tr>
					<td>Name</td>
					<td>Pin</td>
					<td></td>
					<td>Select</td>
				</tr>
				<% @conferences.each do |conf| %>
					<% conf_css_safe = conf.confname.gsub(' ','-') %>
					<tr id="droponto_<%= conf_css_safe %>">
						<td><%= conf.confname %></td>
						<td><%= get_conf_pin(conf.confname) %></td>
						<td>Invite contacts through <a href="#">Phone</a> or <a href="#">Text</a></td>
						<td><img id="<%= conf_css_safe %>" class="select-conf" src="/bluearrow.png" style="padding-left: 20px;" ></td>
					</tr><!--end  #dropinto_<%= conf_css_safe %> -->
				<% end %>
				</table>
		</div> <!--  end .conference_list_items-->	
	</div><!-- end span10 -->
		
		<div class="span7">
			<div class="participant_list_items">
				<h3>Participants</h3>
			</div> <!--  end .participant_list_items-->	
		</div><!-- end span6-->
</div><!-- end row-->

<script>
	//dropabble script for the conference table
	$(function() {
		//Allows the calls to be droppable into Conferences
		$( "[id^=droponto_]" ).droppable({
				hoverClass: "hover-over-conferences",
    			drop: handleDropEventIntoConferenceList,
    			accept: function(d) { 
        			//regex test to see if id of call starts with C,Q, or P, as in from (C)all list, (Q)ueue list, or (P)articipant list	
        			var testid = d.attr("id");
            		if( testid.match(/^(C|P|Q)\w/) ){
            		return true;
        			}
    			}
  		});
	});

	function handleDropEventIntoConferenceList( event, ui ) {
  		var draggable = ui.draggable;
  		//strips off the first character
  		var sid = draggable.attr('id').substring(1);
  		//pulls droponto_conf-name-here
  		var conf_name = $(this).attr("id");
  		var confname = conf_name.split("_")[1];
  		
  		//alert('sid dropped = ' + sid + '\r\n conference id = ' + confname)
  		var url = '<%=BASE_URL%>' + '/dashboard/drop_into_waiting_room/?sid=' + sid + '&conf_name=' + confname;
  		alert(url);
  		//$.post(url);
  		//replace_waiting_room_list()
	}
</script>

<script>
	//Script that updates the participant list every few seconds
	var participanttimer; //using this instead of window.setTimeout since this content isn't reloaded with ajax
	function replace_conference_participant_list() {
		//find out which button is selected.
		var tmp = $("img[src$='/greenarrow.png']").attr("id");
		//alert(tmp);
		var urltogo = "<%=(BASE_URL + '/dashboard/update_conference_participant_list?conf_name=').to_s%>" + tmp;
		
		$.ajax({
			url: urltogo,
			type: 'get',
			dateType: 'html',
			success: function(data) {
				// Replace the list with the new one.
				$('.participant_list_items').html(data);
				// And restart the timer.
				//window.setTimeout(replace_conference_participant_list(), 2000);
				participanttimer = setTimeout("replace_conference_participant_list()", 1000 );
			}//,
			//failure: alert("Failed to get the updated participant list from " + urlrecieved + '\r\n urltogo: ' + urltogo)
		});
	}
		
	//onclick change image selector 
	$(document).ready(function() {
	    $(".select-conf").click(function(event) {
	        id_of_clicked = '#' + event.target.id;
	        //$(".participant_list_items").("h3").append("...loading");
	        $(".select-conf").attr("src","/bluearrow.png");
	        $(id_of_clicked).attr("src","/greenarrow.png");
	        $("h3 > .participant_list_items").append("...loading");
	        $("body").toggleClass("wait",true);
	        //alert('url to go' + urltogo);
	        //alert(id_of_clicked);
	        //$.ajax({
				//url: urltogo,
				//type: 'get',
				//dateType: 'html',
				//success: function(data) {
					// pull the participant initial list
					//$(".participant_list_items").html(data);
					//}
			replace_conference_participant_list();
			//});
	    });
	});
</script>


