<div class = "row">
	<% @participants.each_with_index do |call,index| %>
		<div class="span3-5">
			<script>
				$(function() {
					//makes the participant call draggable
					$( "#P<%=call.sid%>" ).draggable({ revert: true });
				});
			</script>
			
			<div id="P<%=call.sid%>" class="ui-widget-content">
				<div class="btn primary_phone" style="width: 150px">
					<p><%= get_caller_name(call) %> <%= link_to_hangup_call(call.sid) %> </p>
					<p>From:&nbsp;<%= call.from %></p>
					<p>To:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= call.to %> <%= link_to_toggle_mute_call(call.sid) %></p>
				</div>
			</div>
			
			<!-- This sets 2 calls per row, remember zero index affects mnodulo behavior!-->
			<% if (index % 2) == 1 %>
				</div><!-- end middle row-->
				<div class="row">
			<% end %>	
		</div><!--end span4 -->
	<% end %>
</div> <!-- end last row-->

<script>
	//once the participant list loads, return the cursor to normal
	$("body").toggleClass("wait",false);
	
	//update page info for the append methodology to work
	$("#part-sid-str").attr("value","<%= @part_sid_list %>");
	
	//update the h3 for the participants
	$("#part-list-count").html("<%= @part_count %>");
	$("#part-list-name").html("for <%= @conf_name %>");
	
	//fadeout only the discontinued participants
	<% @part_sid_to_remove.each do |sid| %>
		$("[id=P<%=sid%>]").fadeOut(1000);
	<% end %>
</script>
	