<h3>Participants in <%= @conf_name %> (<%=@part_count%>)</h3>

<div class = "row">
<% @participants.each_with_index do |call,index| %>

	<script>
		$(function() {
			$( "#P<%=call.sid%>" ).draggable({ revert: true });
		});
	</script>
	<!-- remember zero index alters mnodulo behavior!-->
	<% if (index % 2) == 1 %>
		<div id="P<%=call.sid%>" class="ui-widget-content" style="float: right;">
	<% else %>
		<div id="P<%=call.sid%>" class="ui-widget-content">
	<% end %>
		<div class="btn primary_phone" style="width: 150px">
			<p><%= get_caller_name(call) %> <%= link_to_hangup_call(call.sid) %> </p>
			<p>From:<%= call.from %></p>
			<p>To:<%= call.to %> <%= link_to_toggle_mute_call(call.sid) %></p>
		</div>
	</div>
	<!-- This sets 2 calls per row-->
	<% if (index % 2) == 1 %>
		</div><!-- end intermediate row-->
		<div class="row">
	<% end %>	
	
<% end %>
</div> <!-- end last row-->