<h3>Participants in <%= @conf_name %> (<%=@part_count%>)</h3>

<div class = "row">
<% @participants.each_with_index do |call,index| %>

	<script>
		$(function() {
			$( "#P<%=call.sid%>" ).draggable({ revert: true });
		});
	</script>

	<div id="P<%=call.sid%>" class="ui-widget-content">
		<div class="btn primary_phone" style="width: 180px">
			<p><%= get_caller_name(call) %> <%= link_to_hangup_call(call.sid) %> </p>
			<p>From:<%= call.from %></p>
			<p>To:<%= call.to %> <%= link_to_toggle_mute_call(call.sid) %></p>
		</div>
	</div>
	
	<!-- This sets 2 calls per row-->
	<% if (index % 2) == 0 %>
		</div><!-- end intermediate row-->
		<div class="row">
	<% end %>	
	
<% end %>
</div> <!-- end last row-->

<script>
		//Script that updates the confernce list every few seconds
		function replace_conference_participant_list() {
		// Do a $.ajax call to your server.
		$.ajax({
			url: '/dashboard/update_conference_participant_list/?conf_name=<%=@conf_name_css_safe%>',
			type: 'get',
			dateType: 'html',
			success: function(data) {
				// Replace the list with the new one.
				$('.participant_list_items').html(data);
				// And restart the timer.
				window.setTimeout(replace_conference_participant_list, 2000);
			}//,
			//failure: alert("Failed to get the updated conference list")
		});
	}
</script>