<% if @active_conf.empty? %>
	<h3>Active Conferences: None</h3>
<% else %>
	<h3>Active Conferences: </h3>
	<ul>
		<% @active_conf.each do |conf| %>
			<li>
				<%= conf %>
				<a href="#" rel="popover" title="<%= conf %>" data-content="XXXXXXX,XXXXXXX,XXXXXXX,XXXXXXX">Participants(<%= @participants_hash[conf].count %>)</a>, 
				Guest PIN: ##### <%#=  %>, 
				Invite contacts through <a href="#">Phone</a> or <a href="#">Text</a> <br/> 
				Notes:_________________________________________________________________
			</li>	
		<% end %>
	</ul>
<% end %>

<% if @empty_conf.empty? %>
	<h3>Available Conferences: None</h3>
<% else %>
	<h3>Available Conferences: </h3>
	<table>
		<% @empty_conf.each do |conf| %>
			<tr>
				<td><%= conf %></td>
				<td>PIN: <%= get_conf_pin(conf) %></td>
				<td>Invite contacts through <a href="#">Phone</a> or <a href="#">Text</a></td>
			</tr>
		<% end %>
	</table>

	<ul>
			<% @empty_conf.each do |conf| %>
				<li><%= conf %>, PIN: <%= get_conf_pin(conf) %>, Invite contacts through <a href="#">Phone</a> or <a href="#">Text</a></li>
			<% end %>
	</ul>
<% end %>