<% @new_calls.each do |call| %>

	<script>
		$(function() {
			//makes the call  in the call list draggable
			$( "#C<%=call.sid%>" ).draggable({ revert: true });
		});
	</script>
	
	<div id="C<%=call.sid%>" class="ui-widget-content">
		<div class="btn primary_phone" style="width: 150px">
			<p><%= call.caller_name %> <%= link_to_hangup_call(call.sid) %> </p>
			<p>From:&nbsp;<%= call.from %></p>
			<p>To:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= call.to %> <%= link_to_toggle_mute_call(call.sid) %></p>
		</div>
	</div>
	
<% end %>

<script>
	//update page info for the append methodology to work
	$("#sidstr").attr("value","<%= @sid_list %>");
	//update call count on page
	$("#call-list-count").html("<%= @call_count %>");
	//fadeout all the discontinued call
	<% @sid_to_remove.each do |sid| %>
		$("[id$=<%=sid%>]").fadeOut(1000);
	<% end %>
</script>
