<% @call_list.each do |call| %>
  <%= call %><br />
  <%= call.sid %><br />
  <%= call.direction %><br />
  <%= call.to %><br />
  <%= call.from %><br />
  <%= call.caller_name %><br />
  <%= call.status %><br />
  <%= call.start_time %><br />
  <hr />   
<% end %>
<%if @call_list.empty?%>
	<p>Empty Queue</p>
<%end%>

