<!DOCTYPE html>
<html>
<head>
  <title>Conference Manager</title>
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
  
  <meta name="description" content="">
  <meta name="author" content="">
  
   <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

    <!-- Le styles -->
    <!-- <link href="/styles/bootstrap_custom.css" rel="stylesheet"> -->
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons 
    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/examples/images/favicon.ico">
    <link rel="apple-touch-icon" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon-114x114.png">
  	-->
  	
	<!-- Jquery, JQuery-ui, and bootstrap Libraries -->
	<!--<script src="http://code.jquery.com/jquery-latest.js"></script> --> 
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	<!-- 
	<script src="/js/bootstrap-twipsy.js"></script>
	<script src="/js/bootstrap-popover.js"></script>
	-->
		
	<!-- PopOver Functionality for a[rel=popover] -->	
	<script>
		$(function () {
		$("a[rel=popover]").popover({
			offset: 460			
		})
		.click(function(e) {
			e.preventDefault()
			})
		})
	</script> 

</head>
<body>
	<div class="topbar">
		<div class="topbar-inner">
		      <div class="container-fluid">
		      	<a class="brand" href="#">Conference Dashboard</a>
		        <ul class="nav">
		            <li class="active"><a href="#">Home</a></li>
		            <li><a href="#about">About</a></li>
		            <li><a href="#contact">History</a></li>
		        </ul>
		        <p class="pull-right">Using Caller ID: <a href="#"> <%= CALLER_ID %></a></p>
				<p class="pull-right">Balance <a href="#">$###.##</a></p>
			    <p class="pull-right">Account: <a href="#"><%= ACCOUNT_NAME %></a></p>	
		      </div><!-- end container-fluid -->
	    </div> <!-- end .topbar-inner -->
	</div> <!-- end .topbar -->	

<%= yield %>

<footer>
          <p>© Kyle Luzny, as of Jan. 01, 2012</p>
</footer>

</body>
</html>
