<!DOCTYPE html>
<html>
<head>
  <title>Conference Manager</title>
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta name="description" content="">
  <meta name="author" content="">
  
  <link rel="icon" type="image/ico" href="/favicon.ico">
   		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

	<!-- Jquery, JQuery-ui, and bootstrap Libraries -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	
	<!-- Gives the top bar dedicated space-->
    <style type="text/css">
    	body {
        	padding-top: 60px;
      	}
    </style>

</head>
<body>
	<div class="topbar">
		<div class="topbar-inner">
		      <div class="container-fluid">
		      	<a class="brand" href="#">Conference Dashboard</a>
		        <ul class="nav">
		            <li class="active"><a href="#">Home</a></li>
		            <li><a href="#about">About</a></li>
		            <li><a href="#contact">History</a></li>
		        </ul>
		        <p class="pull-right">Using Caller ID: <a href="#"> <%= CALLER_ID %></a></p>
				<p class="pull-right">Balance <a href="#">$###.##</a></p>
			    <p class="pull-right">Account: <a href="#"><%= ACCOUNT_NAME %></a></p>	
		      </div><!-- end container-fluid -->
	    </div> <!-- end .topbar-inner -->
	</div> <!-- end .topbar -->	

<%= yield %>

<footer>
          <p>© Kyle Luzny, as of Jan. 01, 2012</p>
</footer>

</body>
</html>
